*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: $font-stack;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  background-color: $bg-light;
  &.dark-mode {
    background-color: $color-very-dark-blue;
    color: white;
  }
}

//  Helpers
.hide-on-mobile {
  display: none;
  @media(min-width: $breakpoint-tablet) {
  display: flex;
}
}
.hide-on-tablet {
  display: none;
  @media(max-width: $breakpoint-tablet) {
  display: flex;
}
}
