*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: $font-stack;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  background-color: $bg-light;
  &.dark-mode {
    background-color: $color-very-dark-blue;
    color: white;
  }
}

// 
h1 {
  font-size: 28px;
  line-height: 34px;
}
h2 {
  font-size: 24px;
  line-height: 29px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 14px;
  line-height: 18px;
}
//  Helpers
.hide-on-mobile {
  display: none;
  @media(min-width: $breakpoint-tablet) {
  display: flex;
}
}
.hide-on-tablet {
  display: none;
  @media(max-width: $breakpoint-tablet) {
  display: flex;
}
}

