// Font family
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$font-stack: 'Kumbh Sans', sans-serif;

/*  Colors  */
$color-very-dark-blue: #121721;
$color-white: #FFF;
$bg-light: #F4F6F8;
$color-grey: #9DAEC2;
$color-dark-grey: #6E8098;

$brand-secondary-dark: #19202D;
//  Buttons
$color-button-default: #5964E0;


/*  Breakpoints  */

$breakpoint-tablet: 767px;
$breakpoint-desktop: 1439px;
