@import '../../styles/variables';

.filter {
    padding: 0 24px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        justify-content: space-around;
        border-radius: 8px;
        background: #fff;
        padding: 20px 0;
        //  Tablet
        @media(min-width: 415px) {
            width: 100%;
            max-width: 96.5%;
            max-height: 80px;
            justify-content: space-between;
            padding: 15px 17px;

        }
        //  Dark Mode
        body.dark-mode &{
            background: $brand-secondary-dark;
        }
        &--input {
           border: 0;
           display: flex;
           max-width: 55%;
           //  Dark Mode
        body.dark-mode &{
            background: $brand-secondary-dark;
            color: #fff;
        }
           &:focus {
               outline: none;
           }

        }
        &__icons {
            display: flex;
           &--filterlogo__container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 18px;
                &--logo {
                    width: 20px;
                    height: 20px;
                    -webkit-mask: url(../../assets/mobile/icon-filter.svg) no-repeat center;
                    mask: url(../../assets/mobile/icon-filter.svg) no-repeat center;
                    background-color: $color-dark-grey;
                    //  Dark Mode
                    body.dark-mode &{
                        background: $brand-secondary-dark;
                        background-color: #fff;
                    }
                }
                }
                
            
            &--searchlogo__container  {
                background-color: $color-button-default;
                border-radius: 5px;
                &--search {
                padding: 16px 4px;
                    //fill: #fff;
                    //color: #fff;
                    -webkit-mask: url(../../assets/desktop/icon-search.svg) no-repeat center;
                    mask: url(../../assets/desktop/icon-search.svg) no-repeat center;
                    background-color: #fff;
                    @media(min-width: 750px) {
                        mask: none !important;
                        padding: 0;
                        span {
                            display: flex;
                            visibility: visible !important;
                            background-color: $color-button-default;
                            border-radius: 5px;
                            color: #fff;
                            padding: 17px 21px;

                        }
                       
                     }
                    
            }
        }

    }
}
}