//style={{display: 'flex', justifyContent: "center", flexDirection: "column", alignItems: "center"}}
@import '../../../styles/variables';

.jobdetails__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    background-color: $bg-light;
}