.header {
    background-image: url(../../assets/mobile/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        padding: 31px 24px 72px 24px;
        display: flex;
        justify-content: space-between;
    }
    &--logo img{
        height: 12px;
    }
}