@import '../../styles/variables';

.header {
    background-image: url(../../assets/mobile/bg-pattern-header.svg);
    background-size: cover;
    background-repeat: round;
    //  Tablet
    @media(min-width: $breakpoint-tablet) {
        background-image: url(../../assets/tablet/bg-pattern-header.svg);
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position-y: 50%;
    }
    //  Desktop
    @media(min-width: $breakpoint-desktop) {
        background-image: url(../../assets/desktop/bg-pattern-header.svg);
        height: 162px;
        background-size: contain;
        background-repeat: no-repeat;
        }
    &__container {
        padding: 32px 22px 80px 18px;
    //  Mobile
    @media(min-width: 375px) {
        padding: 42px 40px 93px 39px;

    }
    //  Desktop
    @media(min-width: 1440px) {
        padding: 44px 164px 165px 165px;

    }
        display: flex;
        justify-content: space-between;
    }
    &--logo img{
        height: 12px;
    }
}
